/* BASE STYLES */
* {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0;
}
.navbar {
    display: flex;                /* Use flexbox */
    justify-content: space-between; /* Space between logo and nav links */
    align-items: center; 
    width: 100vw;
    background-color: #59D9A1;
    padding-left: 30px;
    padding-right: 10px;
}
  
.logo {
    display: inline-block;
}
  
.nav-links {
    list-style: none;
    display: flex;               /* Use flexbox for nav links */
    gap: 15px; 
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
  
.nav-item:hover {
    background-color: white;
}

.sidebar p:hover {
    background-color: white;
    color: #242457;
}
  
.nav-item:hover a {
    color: #59D9A1;
}
  
.logo img {
    width: 15%;
    vertical-align: middle;
}

.sidebar {
    background-color: #242457;
    color: white;
    padding: 3rem;
    padding: 3rem;
    display: flex;              /* Use flexbox */
    flex-direction: column;     /* Stack items */
    gap: 1rem;
}

footer img {
    width: 3%;
}

.flex-main {
    display: flex; 
    background-color: #F5F5F5;
    width: 100%;
    padding-right: 2.5rem;
}
.main-content {
    display: flex;              /* Use flexbox for image containers */
    flex-wrap: wrap;           /* Allow wrapping */
    flex-grow: 1;              /* Allow main content to grow */
    gap: 2rem;                 /* Space between image containers */
}

.image-container{
    height: 30vh;
    width: 20vw;
    background-color: #505FF9;
    margin: 2rem;
    color: #fff;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;              /* Use flexbox */
    justify-content: space-around; /* Space evenly */
    align-items: center; 
    width: 100%;
    padding: 1rem;
    background-color: #59D9A1;
}

/* CODE YOUR FLEXBOXES HERE */
